@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

.areaArtigos{
    margin-top: 3%;
    flex-wrap: nowrap;
}

.cardAutor { 
    /* border: solid thin grey;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1); */
    padding: 3%;
    margin-top: 6%;
}

.imageAutor{
    /* border: grey solid  #fbc271;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1); */
}

.dadosAutor h3{
    color: #fbc271;
    margin-bottom: 2%;
}

.dadosAutor p{
    font-size: 0.9em;
}

.cardArtigo{
    width: 90%;
    padding: 3%;
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.cardArtigo h4{
    color:#6495ED; 
}

.cardArtigo p{
    font-size: 0.8em;
}

.buttonUser{
    background-color: white;
    color:#6495ED;
    border: 1px solid #6495ED;
    border-radius: 50px;
    width: 20%;
    margin-right: 3%;
    margin-bottom: 3%;
}

.buttonUser:hover{
    background-color:#6495ED;
    color:white;
    border: 1px solid #6495ED;
}

.buttonUserExcluir{
    width: 20%;
    padding: 0.5%;
    background-color: white;
    color: red;
    border: 1px solid red;
    border-radius: 50px;
    margin-right: 3%;
    margin-bottom: 3%;
}

.buttonUserExcluir:hover{
    background-color:red;
    color:white;
    border: 1px solid red;
}


.pageArtigos{
    padding: 1%;
    margin-top: 10%;
    /* background-color: pink; */
}

.ladoEsquerdo{
    width: 60%;
    padding-top: 2%;
    border-right: solid thin #e6e6e6;
    /* background-color: pink; */
}

.ladoDireito{
    width: 40%;
    padding-top: 3%;
    /* background-color: purple; */
}

.tagsGeral{
    margin: 3% 0;
    padding-left: 7%;
    /* background-color: aqua; */
    /* justify-content:center; */
    
}

.title1{
    text-align: center;
    color: rgb(255, 184, 53);
}

.title2{
    text-align: center;
    margin-bottom: 2%;
    color: rgb(255, 184, 53);
}

.postArtigo{
    width: 78%;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 2%;
    margin-left: 10%;
    /* box-shadow: 3px 3px 5px -3px rgba(99,96,99,1); */
}

.postArtigo .headerPost{
    padding: 1%;
}

.postArtigo .bodyPost{
    text-align: justify;
    padding: 3%;
}

.postArtigo .bodyPost .titlePost{
    color: black;
}

.postArtigo .bodyPost .contentPost{
   font-size: 0.8em;
}

.postArtigo .bodyPost .dataPublicPost{
    font-size: 0.9em;
 }

 .postArtigo .bodyPost .dataHour{
    font-size: 0.9em;
    margin-left: 50%;
 }

 .postArtigo .titlePost a{
    color: #6495ED;
 }

 .postArtigo .dataPublicPost a{
    color: #00FF7F;
 }

 .button{
    color:#6495ED;
    border-color: #6495ED;
}

.button:hover{
    color: white;
    background-color: #6495ED;
}

.tagsPost{
    padding: 0 1%;
}

.iconUser{
    border-radius: 50%;
}

.cardRight{
    width: 80%;
    padding: 3%;
    margin-bottom: 3%;
    margin-left: 10%;
    border: solid #dfdcdc thin;
}

.cardRight .titleCardRight{
    color: #6495ED;
}

.cardRight .contentCardRight{
    font-size: 0.8em;
    text-align: justify;
}

.cardRight .dataHourCardRight{
    font-size: 0.7em;
}

.cardRight .iconUser{
    float: right;
}

.iconUserPost{
    float:right;
    border-radius: 50%;
}